# ---------------------------- Project build output ----------------------------

/dist/
/spec/

# ----------------------------------- Node.js ----------------------------------

node_modules/

# --------------------------------- TypeScript ---------------------------------

/buildcache/

# ----------------------------------- VS Code ----------------------------------

.vscode/
