# ---------------------------- Project build output ----------------------------

/dist/
/lib/
/spec/

# --------------------------------- TypeScript ---------------------------------

/buildcache/

# ----------------------------------- VS Code ----------------------------------

.vscode/
