@import 'ui-variables';

.wootom-html-viewer {
    .block(@title-bg-color, @title-color) {
        border: 1px solid @title-bg-color;
        border-radius: @component-border-radius;
        margin: 0.5rem 0;

        > * {
            padding: 0.35rem 1rem;
        }

        > .wootom-title {
            background-color: @title-bg-color;
            border-radius: @component-border-radius @component-border-radius 0 0;
            color: @title-color;
            margin: 0;
        }
    }

    .wootom-error-block {
        .block(@background-color-error, @text-color-highlight);
    }

    .wootom-info-block {
        .block(@background-color-info, @text-color-highlight);

        --color-green: #198754; // --bs-success
        --color-blue: #3498db; // --bs-info
        --color-orange: #f39c12; // --bs-warning
        --color-red: #e74c3c; // --bs-danger
    }
}
