@import 'ui-variables';

.wootom-html-viewer {
    details.wootom-error-details {
        border-radius: @component-border-radius;

        > summary {
            background-color: @background-color-error;
            border-radius: @component-border-radius;
            cursor: pointer;
        }

        &[open] {
            border: 1px solid @background-color-error;

            > summary {
                border-radius: @component-border-radius @component-border-radius
                    0 0;
            }
        }
    }
}
