@import 'general/blocks.less';
@import 'general/caption.less';
@import 'general/error-details.less';
@import 'general/error-inline.less';
@import 'general/figure.less';
@import 'general/footnote.less';
@import 'general/tikz.less';
@import 'navigation/lists.less';
@import 'navigation/search.less';

.wootom-html-viewer {
    padding: 1rem;

    p:last-child {
        margin-bottom: 0;
    }

    pre:not(:last-child) {
        margin-bottom: 1em;
    }
}
